<% provide(:title, "ドラフト一覧") %>
<%= form_with model: @draft, class: 'mt-4' do |f| %>
<%= render 'content_input', f: f %>
<div class="border transition-all duration-500 relative rounded p-1 mt-4">
  <div class="-mt-4 absolute tracking-wider px-1 text-xs">
    <p>
      <%= f.label :url, class: 'bg-white text-gray-600 px-1' %>
    </p>
  </div>
  <p>
    <%= f.text_field :url, class: 'py-1 px-1 text-gray-900 outline-none block h-full w-full' %>
  </p>
</div>
<%= render 'shared/err_msg' %>
<div class="mt-3 text-center">
  <%= f.submit '更新', class: 'w-1/2 text-sm rounded-full text-gray-100 py-2 bg-blue-500 cursor-pointer hover:shadow-inner hover:bg-blue-700 transition-all duration-300' %>
</div>
<% end %>