<% provide(:title, "ドラフト一覧") %>
<div class='mt-8 mb-4'>
  <%= form_with model: @draft do |f| %>
  <%= render 'content_input', f: f %>
  <%= render 'shared/err_msg' %>
  <div class="mt-3 text-center">
    <%= f.submit '追加', class: 'w-1/2 text-sm rounded-full text-gray-100 py-2 bg-blue-600 cursor-pointer hover:shadow-inner hover:bg-blue-700 transition-all duration-300' %>
  </div>
  <% end %>
</div>
<div class='py-3'>
  <% @drafts.each do |draft| %>
  <div class='p-2 border border-gray-300 rounded mb-3'>
    <p class='mb-2'><%= simple_format(h(draft.content)) %></p>
    <p class='text-right'>
      <%= link_to '編集', edit_draft_path(draft) %>
      <span class='text-sm'>
        残り<%= draft.remaining_time %>
      </span>
    </p>
  </div>
  <% end %>
</div>